on:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: jdx/mise-action@v2

      - run: mise run install --frozen-lockfile

      - run: mise run build

      - run: pnpm -r publish --no-git-checks --access public
